@{
    ViewData["Title"] = "Home";
}

<div class="container index__container">
    <div class="main">
        <div class="main__items-container">
            <span class="main__decoration-text">
                The best way to <span class="main__decorator"></span>
            </span>
            <h1 class="main__h1">keep your money on place!</h1>
            <button class="main__button button__primary">Learn More!</button>
        </div>
        <div class="main__image-container">
            <img class="main__image" src="~/assets/Finz!_Index.svg" alt="" />
        </div>
    </div>
    <div class="bottom">
        <div class="bottom__organize">
            <div class="organize__icon-container">
                <img src="~/assets/Organize_Icon.svg"
                     alt=""
                     class="organize__icon" />
            </div>
            <h3 class="organize__title">Organize</h3>
            <p class="organize__text">
                You know exactly where does your money goes.
            </p>
        </div>
        <div class="bottom__challenge">
            <div class="challenge__icon-container">
                <img src="~/assets/Challenge_Icon.svg"
                     alt=""
                     class="challenge__icon" />
            </div>
            <h3 class="challenge__title">Challenge</h3>
            <p class="challenge__text">Take new challenges every month</p>
        </div>
        <div class="bottom__improve">
            <div class="improve__icon-container">
                <img src="~/assets/Improve_Icon.svg"
                     alt=""
                     class="improve__icon" />
            </div>
            <h3 class="improve__title">Improve</h3>
            <p class="improve__text">Improve the way you spend your moeny</p>
        </div>
    </div>
</div>