@model Finz__Frontend_.Models.Ahorros

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="container  w-100 min-vw-100">
    <partial name="../Components/_MenuPartial" />
    <h1>Create</h1>

    <h4>Ahorros</h4>
    <hr />
    <div class="row">
        <div class="col-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label  class="control-label">Savings</label>
                    <input asp-for="AhorrosAcutales" class="form-control" />
                    <span asp-validation-for="AhorrosAcutales" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input hidden asp-for="IdUsuario" value="@ViewBag.userId" class="form-control"/>
                </div>
                <div class="form-group">
                    <!--<label--> @*asp-for="IdCategoria"*@ <!--class="control-label">Category</label>-->
                    @*<select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria"></select>*@
                    <input value="1" hidden asp-for="IdCategoria" class="form-control"/>
                      
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-light border-info" asp-action="Index">Back to List</a>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
