@model Finz__Frontend_.Models.Gastos

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="container  w-100 min-vw-100">
    <partial name="../Components/_MenuPartial" />
    <h1>Create</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label  class="control-label">Expenses</label>
                    <input asp-for="Gastos1" class="form-control" />
                    <span asp-validation-for="Gastos1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Start</label>
                    <input asp-for="FechaInicio" class="form-control" />
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">End</label>
                    <input asp-for="FechaFin" class="form-control" />
                    <span asp-validation-for="FechaFin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="IdCategoria" class="control-label"></label>*@
                    <input hidden value="1" asp-for="IdCategoria" class="form-control" />
                </div>
                <div class="form-group">
                    @*<label asp-for="IdUsuario" class="control-label"></label>*@
                    <input hidden value="@ViewBag.userId" asp-for="IdUsuario" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-light border-info" asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
