@model Finz__Frontend_.Models.Gastos

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="container  w-100 min-vw-100">
    <partial name="../Components/_MenuPartial" />
    <h1>Edit</h1>

    <h4>Gastos</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdGastos" />
                <div class="form-group">
                    <label asp-for="Gastos1" class="control-label"></label>
                    <input asp-for="Gastos1" class="form-control" />
                    <span asp-validation-for="Gastos1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaInicio" class="control-label"></label>
                    <input asp-for="FechaInicio" class="form-control" />
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaFin" class="control-label"></label>
                    <input asp-for="FechaFin" class="form-control" />
                    <span asp-validation-for="FechaFin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdCategoria" class="control-label"></label>
                    <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria"></select>
                    <span asp-validation-for="IdCategoria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdUsuario" class="control-label"></label>
                    <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
                    <span asp-validation-for="IdUsuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-light border-info" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-light border-info" asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
